

<div class="background"></div>

<div class="toolbar">
  <div class="toolbar-button">
    <a href="">
      <div class="toolbar-icon icon-cv"></div>
    </a>
  </div>
  <div class="toolbar-button">
    <a href="http://www.linkedin.com/in/aner-shabtai/">
    <div class="toolbar-icon icon-linkedin"></div>
    </a>
  </div>
  <div class="toolbar-button">
    <a href="https://github.com/aner-shab/">
    <div class="toolbar-icon icon-github"></div>
    </a>
  </div>
  <div class="toolbar-button">
    <a #email href="" (click)="onEmailClick()">
      <div class="toolbar-icon icon-contact"></div>
  </a>
  </div>
</div>

<div #terminalWrapper class="terminal-wrapper" (click)="focus()" id="terminal-wrapper">

<div #menu *ngIf="!pongActive" class="menu">
  <div class="pixelface"></div>
  <div class="logo">
  <pre>                              _____ _           _     _        _ </pre>
  <pre>     /\                      / ____| |         | |   | |      (_)</pre>
  <pre>    /  \   _ __   ___ _ __  | (___ | |__   __ _| |__ | |_ __ _ _ </pre>
  <pre>   / /\ \ | '_ \ / _ \ '__|  \___ \| '_ \ / _` | '_ \| __/ _` | |</pre>
  <pre>  / ____ \| | | |  __/ |     ____) | | | | (_| | |_) | || (_| | |</pre>
  <pre> /_/    \_\_| |_|\___|_|    |_____/|_| |_|\__,_|_.__/ \__\__,_|_|</pre>
  <pre>                                                                 </pre>
  <pre>                                                   v31 Build 1986</pre>
  <pre>                                   aner.shab (at) gmail (dot) com</pre>
  <pre>                                                                 </pre>
  <pre>Type "help" to get started....                                   </pre>
  </div>
    <div class="terminal" id="terminal">

      <div id="history">
        <pre class="history wordwrap"  *ngFor="let item of cmdHistory">{{item}}</pre>
      </div>

      <span class="command-init">{{currentDir}}></span>
      <input spellcheck="false" #cmd [style.width.em]="cmdWidth" class="command-line" [(ngModel)]="currentType" type="text" (keydown)="keyDown($event)"/>
      <span class="cursor blink" id="cursor">&nbsp;</span>
    </div>
</div>
  <div #pong *ngIf="pongActive" class="pongMenu">
    <app-pong></app-pong>
  </div>
</div>


